<div class="container1">
  <div class="row justify-content-md-center">
    <h3> Suggestions </h3>
    <% @events.each do |event| %>
      <div class="card-product">
        <a href="<%= event_path(event)%>"><%= cl_image_tag event.photo.key %></a>
        <a id="date"><%= event.date %></a>
        <h2><%= event.title %></h2>
        <div id="location">
            <a><i class="fas fa-map-marker-alt"></i> <%= event.address.last(7) %> </a>

            <a><i class="fas fa-thin fa-user"></i><%= Attendance.where(event: event.id).count  %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
