<div class="container">
  <div class="d-flex justify-content-center text-white">
    <%= simple_form_for(@event) do |f| %>
    <h1 id="create_event">Create your own event</h1>
      <%= f.input :title %>
      <%= f.input :date %>
      <%= f.input :details %>
      <%= f.input :address,
                  input_html: { data: { geocoder_target: "address" }, class:"d-none" },
                  wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
      <%= f.association :genre, collection: @genres,
                        include_blank: false, include_hidden: false %>
      <%= f.input :photo, as: :file,
                      allow_blank: true %>
      <%= f.button :submit, class: "primary-button" %>
    <% end %>
  </div>
</div>
