<h1>TODO: there are several ways to reach the event show page. How to navigate to the previous page</h1>
<%= link_to '#' do %>
  <i class="fas fa-solid fa-angle-left my-3 btn btn-primary"> Back</i>
<% end %>
<br>
<h1><%= @event.title %></h1>
<%= link_to "I 'm going!", '#', class: 'btn btn-primary m-3' %>

<div>
  <%= simple_form_for([@comment, @event]) do |f| %>
    <%= f.input :details, placeholder: 'Write your comment' %>
    <%= f.button :submit, class: 'btn-primary' %>
  <% end %>
</div>
