<div class="container"
    data-controller="follow">
  <div class="d-flex justify-content-lg-center w-100">
    <div>
      <% if @user.photo.key %>
        <%= cl_image_tag(@user.photo.key, width: 200, height: 200, style: "border-radius: 50%;") %>
      <% end %>
    </div>
    <div class="mr-auto p-3 text-white">
      <h1 class="text-white"><%= @user.user_name %></h1>
      <h2 class="text-white"><%= "#{@user.first_name} #{@user.last_name}" %></h2>
      <h4 class="text-white"> <%= @user.email  %></h4>
      <p><%= @user.bio %></p>
      <div class="d-inline-flex justify-content-around w-100">
        <div class="d-inline-flex align-items-center">
          <p class="mb-2"> Hosted <%= Event.where(user_id: @user.id).count %> events</p>
        </div>
        <div class="d-inline-flex align-items-center">
          <p class="mb-2"
              data-follow-target="number">
            Followed by <%= pluralize(@followers, 'person') %>
          </p>
        </div>
      </div>
      <% unless current_user == @user %>
        <div class="d-flex justify-content-start pt-2">
          <% if @clicked %>
            <%= render 'destroy_follow_button', user: @user %>
          <% else %>
            <%# display inline flex%>
            <div class="align-self-start">
              <%= render 'create_follow_button', user: @user %>
            </div>
          <% end %>
          <p class="mt-2 mb-2 text-center align-self-end<%= " d-none" unless @clicked %>"
              style="margin-left: 150px;"
              data-follow-target="following">
            You are following <%= @user.user_name %>.
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <br>

  <h2 class="d-flex justify-content-center text-white">Hosted events</h2>
  <div class="container" id="container-cards">
    <div class="row" id="row-cards">
      <% @user.events.each do |event| %>
        <div class="col-3" id="card-product">
          <a href="<%= event_path(event)%>"><%= cl_image_tag event.photo.key %></a>
            <div class="m-2 d-inline-flex justify-content-between" style="width: 300px">
              <a id="date"><%= event.date.strftime('%d.%m.%Y')%></a>
              <a id="date"><%= event.date.strftime('%H:%M')%></a>
            </div>
          <h2><%= event.title %></h2>
          <div id="location">
            <a><i class="fas fa-map-marker-alt"></i> <%= event.address %> </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Upcoming</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Past events</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><h2 class="text-white">Upcoming</h2>
  <div class="container" id="container-cards">
    <div class="row" id="row-cards">
      <% @user.attends.each do |attendance| %>
        <% if Date.current < attendance.date %>
          <div class="col-3" id="card-product">
            <a href="<%= event_path(attendance.id)%>"><%= cl_image_tag attendance.photo.key %></a>
            <div class="m-2 d-inline-flex justify-content-between" style="width: 300px">
              <a id="date"><%= event.date.strftime('%d.%m.%Y')%></a>
              <a id="date"><%= event.date.strftime('%H:%M')%></a>
            </div>
            <h2><%= attendance.title %></h2>
            <div id="location">
              <a><i class="fas fa-map-marker-alt"></i> <%= attendance.address %> </a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div></div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><h2 class="text-white">Past events</h2>
  <div class="container" id="container-cards">
    <div class="row" id="row-cards">
      <% @user.attends.each do |attendance| %>
        <% if Date.current > attendance.date %>
          <div class="col-3" id="card-product">
            <a href="<%= event_path(attendance.id)%>"><%= cl_image_tag attendance.photo.key %></a>
              <div class="m-2 d-inline-flex justify-content-between" style="width: 300px">
                <a id="date"><%= event.date.strftime('%d.%m.%Y')%></a>
                <a id="date"><%= event.date.strftime('%H:%M')%></a>
              </div>
            <h2><%= attendance.title %></h2>
            <div id="location">
              <a><i class="fas fa-map-marker-alt"></i> <%= attendance.address %> </a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>
