<h1>TODO: banner</h1>
<h1>TODO: search bar</h1>
<h1>TODO: cards</h1>

<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to 'Upcoming', events_path, class: 'primary-button' %>
<%= link_to 'Near me', events_path, class: 'secondary-button' %>
<%= link_to 'Genres', genres_path, class: 'btn btn-primary' %>
<%= link_to 'Anchor default style', '#'%>


<div class="container" id="container1">
<h3>Suggestions</h3>
  <div class="row" id="card-row">
    <div class="col-3">
      <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <a id="date"><%=  %>DATE</a>
          <h2><%=  %>Title</h2>
          <div id="location">
            <a><i class="fas fa-map-marker-alt"></i> event.location </a>

            <a><i class="fas fa-thin fa-user"></i>#</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <a id="date"><%=  %>DATE</a>
          <h2><%=  %>Title</h2>
          <div id="location">
            <a><i class="fas fa-map-marker-alt"></i> event.location </a>

            <a><i class="fas fa-thin fa-user"></i>#</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <a id="date"><%=  %>DATE</a>
          <h2><%=  %>Title</h2>
          <div id="location">
            <a><i class="fas fa-map-marker-alt"></i> event.location </a>

            <a><i class="fas fa-thin fa-user"></i>#</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <a id="date"><%=  %>DATE</a>
          <h2><%=  %>Title</h2>
          <div id="location">
            <a><i class="fas fa-map-marker-alt"></i> event.location </a>

            <a><i class="fas fa-thin fa-user"></i>#</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <a id="date"><%=  %>DATE</a>
          <h2><%=  %>Title</h2>
          <div id="location">
            <a><i class="fas fa-map-marker-alt"></i> event.location </a>

            <a><i class="fas fa-thin fa-user"></i>#</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <a id="date"><%=  %>DATE</a>
          <h2><%=  %>Title</h2>
          <div id="location">
            <a><i class="fas fa-map-marker-alt"></i> event.location </a>

            <a><i class="fas fa-thin fa-user"></i>#</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <a id="date"><%=  %>DATE</a>
          <h2><%=  %>Title</h2>
          <div id="location">
            <a><i class="fas fa-map-marker-alt"></i> event.location </a>

            <a><i class="fas fa-thin fa-user"></i>#</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <a id="date"><%=  %>DATE</a>
          <h2><%=  %>Title</h2>
          <div id="location">
            <a><i class="fas fa-map-marker-alt"></i> event.location </a>

            <a><i class="fas fa-thin fa-user"></i>#</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="container2">
  <h3>Categories</h3>
  <div class="row1" >
    <div class="col-4" id="rectangle1">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Gull_portrait_ca_usa.jpg/1280px-Gull_portrait_ca_usa.jpg" /> 
    </div>
    <div class="col-8" id="rectangle2">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Gull_portrait_ca_usa.jpg/1280px-Gull_portrait_ca_usa.jpg" />
    </div>
  </div>
  <div class="row1">
    <div class="col-8" id="rectangle3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Gull_portrait_ca_usa.jpg/1280px-Gull_portrait_ca_usa.jpg" />
    </div>
    <div class="col-4" id="rectangle4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Gull_portrait_ca_usa.jpg/1280px-Gull_portrait_ca_usa.jpg" />
    </div>
  </div>
</div>
