<div class="banner" style="background-image: url(<%= asset_path 'banner-dark-blue-blur.jpg' %>);">
  <div class="container">
    <h1>The best place to connect through music</h1>
    <p>Let's find gigs nearby!</p>
    <%= simple_form_for :search, url: '#', method: :get do |f| %>
    <div class="search-box">
      <input class="" type="text" placeholder="What are you looking for?" name="search[query]" id="search_query" />
      <%= link_to events_path do %>
        <i class="fas fa-search p-3"></i>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <h3 class="mt-5">Highlights</h3>
  <div class="cards">
    <a href="/events">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path 'unsplash-card-1.jpg'  %>)">
        Upcomming events
      </div>
    </a>
    <a href="/events">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path 'unsplash-card-2.jpg'  %>)">
        Events near you
      </div>
    </a>
    <a href="/events">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path 'unsplash-card-3.jpg'  %>)">
        Popular
      </div>
    </a>
  </div>
  <h3 class="mt-5">More events</h3>
  <%= render 'events/cards' %>
  <h3 class="mt-5">Categories</h3>
  <%= render 'events/genres' %>
</div>
