<div class="banner" style="background-image: url(<%= asset_path 'banner-dark-blue-blur.jpg' %>);">
  <div class="container">
    <h1>The best place to connect through music</h1>
    <p>Let's find gigs nearby!</p>
    <%= simple_form_for :search, url: '#', method: :get do |f| %>
    <div class="search-box">
      <input class="" type="text" placeholder="What are you looking for?" name="search[query]" id="search_query" />
      <%= link_to events_path do %>
        <i class="fas fa-search p-3"></i>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to 'Upcoming', events_path, class: 'primary-button' %>
<%= link_to 'Near me', events_path, class: 'secondary-button' %>
<%= link_to 'Genres', genres_path, class: 'btn btn-primary' %>
<%= link_to 'Anchor default style', '#'%>

  <%= render 'events/cards' %>
  <%= render 'events/genres' %>
